<footer class="main-footer">
  <p>Conecta con nosotrxs:</p>
  <p>
    <a href="#">Aviso de Privacidad</a>
  </p>
</footer>

<style lang="scss">
  .main-footer {
    color: $text-color-light;
    background-color: $border-color-dark;
    padding: 3rem;
    font-weight: 100;
    display: flex;
    justify-content: space-between;

    & a,
    & a:hover,
    & a:visited {
      color: $text-color-light;
      text-decoration: none;
    }
  }
</style>
